<div class="vhs-container" style="font-size: {{font-size}}">
    <img src="/static/images/vhs2.png" alt="VHS Case" class="vhs-image" />
    <div class="vhs-text" style="top:10%; left: 10%; max-width: 33%; color:grey">
        <span>|</span><span style="color:black; font-weight: bold;">VHS</span><span>|</span><span style="font-weight: bold; color:orange"> HIGH QUALITY VIDEO</span>
    </div>
    <div class="vhs-text" style="transform: rotate(90deg);color:black;
        top:19em; left: 10em; font-weight: bold; display:flex; flex-direction:row; width: 36em">
        <span style="font-weight: bold; font-size:2em;width:8em; text-align: center; margin-top:auto; margin-bottom:auto">{{title}}</span>
        <span style="max-width:6em; text-align: center; margin-top:auto; margin-bottom:auto">VIDEO CASSETTE</span>
        <span style="color:orange;max-width:6em; text-align: center; margin-top:auto; margin-bottom:auto;
        margin-left: 3em">ULTRA HIGH QUALITY</span>
    </div>
    <div class="vhs-text" style="transform: rotate(-30deg);font-size:2.5em;color:black; 
        top:5em; left: 1.5em; font-weight: bold; width: 7em; text-align: center">{{title}}</div>
    <div class="vhs-text" style="transform: rotate(-30deg);color:black; 
        top:19em; left: 6em; font-weight: bold; width: 20em;">AN {{actor}} MOVIE</div>
        
    <div class="vhs-text" style="top:36em; left:5em; width:16em;">
        <div style="font-size:0.4em;background-color:#1182b6;width:8em;
            height:8em;border-radius:50%;display:flex;align-items:center;
            justify-content:center; font-weight: bold;">
            {{category}}
        </div>
    </div>

    <div class="vhs-text" style="top:5em; left: 36em; width: 16em;">
        <div style="text-align: center; font-size:2em;color:black; font-weight: bold;">
            {{title}}
        </div>
        <div style="color:black; text-align: center; 
        font-weight: bold; text-align: center;
        border-top: 2px solid black; border-bottom: 2px solid black;">
            <span style="font-size:1.5em; font-weight: bold;">VIDEO CASSETTE</span><br/>
            <span style="color:orange; font-weight: bold;">ULTRA HIGH QUALITY</span>
        </div>
        <div style="text-align: center; font-size:0.7em;color:black;
        margin-top: 1em">
            {{description}}
        </div>
    </div>

    <div class="vhs-text" style="top:38em; left: 42em; max-width: 33%; color:rgb(0, 0, 0)">
        {{year}} ©
    </div>

    
</div>

<style>
    .vhs-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .vhs-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .vhs-text {
        position: absolute;
        color: white;
        font-family: monospace;
        {{!-- text-shadow: 0 0 5px black; --}}
    }
</style>
